<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="../dbdoc.js" type="text/javascript"></script>
<link href="../dbdoc.css" type="text/css" rel="stylesheet">
</head>
<body id="bottom_left">
<h2>Views
<div id="search"><input type="text" onkeyup="$d_Find('narrow',this.value,'a')"/></div></h2><div id="narrow"><a href ="KDR_CHARACTERS_VIEW.html" target="ObjectDetailsFrame">KDR_CHARACTERS_VIEW</a>
<a href ="KDR_CHARACTER_CARDS_VIEW.html" target="ObjectDetailsFrame">KDR_CHARACTER_CARDS_VIEW</a>
<a href ="KDR_CHARACTER_PRAYERS_VIEW.html" target="ObjectDetailsFrame">KDR_CHARACTER_PRAYERS_VIEW</a>
<a href ="KDR_CHARACTER_RECIPES_VIEW.html" target="ObjectDetailsFrame">KDR_CHARACTER_RECIPES_VIEW</a>
<a href ="KDR_CHARACTER_SKILLS_VIEW.html" target="ObjectDetailsFrame">KDR_CHARACTER_SKILLS_VIEW</a>
<a href ="KDR_CHARACTER_SL_LIST_VIEW.html" target="ObjectDetailsFrame">KDR_CHARACTER_SL_LIST_VIEW</a>
<a href ="KDR_CHARACTER_SPELLS_VIEW.html" target="ObjectDetailsFrame">KDR_CHARACTER_SPELLS_VIEW</a>
<a href ="KDR_CHARS_PER_EVENT_VIEW.html" target="ObjectDetailsFrame">KDR_CHARS_PER_EVENT_VIEW</a>
<a href ="KDR_CHAR_ALLOWED_RACE_SKILLS.html" target="ObjectDetailsFrame">KDR_CHAR_ALLOWED_RACE_SKILLS</a>
<a href ="KDR_CHAR_ERRORS_VIEW.html" target="ObjectDetailsFrame">KDR_CHAR_ERRORS_VIEW</a>
<a href ="KDR_CHAR_NAV_MENU_VIEW.html" target="ObjectDetailsFrame">KDR_CHAR_NAV_MENU_VIEW</a>
<a href ="KDR_CHAR_RACE_SKILL_AMOUNT_VW.html" target="ObjectDetailsFrame">KDR_CHAR_RACE_SKILL_AMOUNT_VW</a>
<a href ="KDR_CHAR_TAGS_VIEW.html" target="ObjectDetailsFrame">KDR_CHAR_TAGS_VIEW</a>
<a href ="KDR_COMPONENTS_VIEW.html" target="ObjectDetailsFrame">KDR_COMPONENTS_VIEW</a>
<a href ="KDR_ITEM_TREE_VIEW.html" target="ObjectDetailsFrame">KDR_ITEM_TREE_VIEW</a>
<a href ="KDR_ITEM_VIEW.html" target="ObjectDetailsFrame">KDR_ITEM_VIEW</a>
<a href ="KDR_LOV_PLOT_CATS.html" target="ObjectDetailsFrame">KDR_LOV_PLOT_CATS</a>
<a href ="KDR_NAVIGATION_CHAR_VIEW.html" target="ObjectDetailsFrame">KDR_NAVIGATION_CHAR_VIEW</a>
<a href ="KDR_NAVIGATION_MENU_VIEW.html" target="ObjectDetailsFrame">KDR_NAVIGATION_MENU_VIEW</a>
<a href ="KDR_NPCS_SKILLS_VIEW.html" target="ObjectDetailsFrame">KDR_NPCS_SKILLS_VIEW</a>
<a href ="KDR_NPCS_VIEW.html" target="ObjectDetailsFrame">KDR_NPCS_VIEW</a>
<a href ="KDR_NPC_PER_PLOT.html" target="ObjectDetailsFrame">KDR_NPC_PER_PLOT</a>
<a href ="KDR_NPC_PRAYERS_PRINT_VIEW.html" target="ObjectDetailsFrame">KDR_NPC_PRAYERS_PRINT_VIEW</a>
<a href ="KDR_NPC_PRAYERS_VIEW.html" target="ObjectDetailsFrame">KDR_NPC_PRAYERS_VIEW</a>
<a href ="KDR_NPC_SPELLS_PRINT_VIEW.html" target="ObjectDetailsFrame">KDR_NPC_SPELLS_PRINT_VIEW</a>
<a href ="KDR_NPC_SPELLS_VIEW.html" target="ObjectDetailsFrame">KDR_NPC_SPELLS_VIEW</a>
<a href ="KDR_RACE_SKILLS.html" target="ObjectDetailsFrame">KDR_RACE_SKILLS</a>
<a href ="KDR_RACE_SKILL_CATEGORIES_VIEW.html" target="ObjectDetailsFrame">KDR_RACE_SKILL_CATEGORIES_VIEW</a>
<a href ="KDR_RACE_SKILL_LEVELS.html" target="ObjectDetailsFrame">KDR_RACE_SKILL_LEVELS</a>
<a href ="KDR_RACE_SKILL_LEVELS_VIEW.html" target="ObjectDetailsFrame">KDR_RACE_SKILL_LEVELS_VIEW</a>
<a href ="KDR_RECIPES_VIEW.html" target="ObjectDetailsFrame">KDR_RECIPES_VIEW</a>
<a href ="KDR_RECIPE_COMPONENTS_VIEW.html" target="ObjectDetailsFrame">KDR_RECIPE_COMPONENTS_VIEW</a>
<a href ="KDR_RECIPE_VIEW.html" target="ObjectDetailsFrame">KDR_RECIPE_VIEW</a>
<a href ="KDR_SKILLS_PER_LEVEL.html" target="ObjectDetailsFrame">KDR_SKILLS_PER_LEVEL</a>
<a href ="KDR_SKILLS_VIEW.html" target="ObjectDetailsFrame">KDR_SKILLS_VIEW</a>
<a href ="KDR_TEST_VW.html" target="ObjectDetailsFrame">KDR_TEST_VW</a>

</div></body> </html>